@model Category
<nav class="show navbar navbar-vertical navbar-light align-items-start p-0 border border-top-0 border-bottom-0" id="navbar-vertical1">
    <div class="navbar-nav w-100 overflow-hidden" style="max-height: 300px; overflow-y: auto;">
        @foreach (var item in Model.Value)
        {
            <a asp-action="Index" asp-controller="Categories" asp-route-type="@Model.Name" asp-route-value="@item" class="nav-item nav-link">@item</a>
        }
    </div>
</nav>